<main id="main" class="main">
  <section>
    <h3 class="text-primary  mb-5 fw-bold">Add category</h3>
    <hr>
    <div class="container">
      <form action="/admin/addCategory" enctype="multipart/form-data" method="post">
        <div class="row mb-3">
          <label for="inputText" class="col-sm-2  col-form-label">Category Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="category" onkeyup="checkForm()" id="categoryField"  required>
             <p id="errMsg" class="text-danger"></p>
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
          <div class="col-sm-8 d-flex">
            <div style="display: none;" id="imageShow"><img id="blah" src="#" alt="your image" / style="height:150px;"></div>
            <div>
              <input class="form-control p-5 ms-5" type="file" id="formFile" name="image"
                accept="image/gif, image/jpeg, image/png" required>
            </div>
          </div>
        </div>
        <div class="col-sm-10 text-center">
          <button type="submit" class="btn btn-primary">Submit Form</button>
        </div>
    </div>
    </form>

    </div>
  </section>
</main>

       <script>
            function checkForm() {
              document.getElementById('errMsg').innerHTML = ""
              brandName = document.getElementById('brandNameField').value
              brandName = brandName.trim();
              if (brandName == "" || brandName == null) {
                document.getElementById('errMsg').innerHTML = "field cannot be blank"
              }
            }
          </script>

<script>
  formFile.onchange = evt => {
    const [file] = formFile.files
    if (file) {
      imageShow.style.display = 'block';
      blah.src = URL.createObjectURL(file)
    }
  }
</script>