<main id="main" class="main">
    <header>
        <div>
            <h3 class="text-primary">Add Coupon</h3>
        </div>
       <hr>
    </header>
    <section>
<form action="/admin/addCoupon" method="post">
    <div class="row mb-3 mt-5">
          <label for="inputText" class="col-sm-2  col-form-label" >Offer Text</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="offertext" required>
          </div>
          <div class="row mb-3 mt-5">
          <label for="inputText" class="col-sm-2  col-form-label">Offer Percentage</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" name="offerPercentage" min="1" max="100" required>
          </div>
          <div class="text-center mt-5">
            <button type="submit" class="btn btn-success">Proceed</button>
          </div>
</form>
    </section>
</main>