<main id="main" class="main">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">

  <section>
    <h3 class="text-primary  mb-5 fw-bold">Add Products</h3>
    <hr>
    <div class="container">
      <form action="/admin/addProduct" enctype="multipart/form-data" method="post">
        <div class="row mb-3">
          <label for="inputText" class="col-sm-2  col-form-label">Model</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="model" id="model">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputEmail" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="title">
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Category</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" name="category">
              {{#each response.category}}
              <option value="{{this._id}}">{{this.category}}</option>
              {{/each}}

            </select>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Brand</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" name="brand">
              {{#each response.brand}}
              <option value="{{this._id}}">{{this.brand}}</option>
              {{/each}}

            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNumber" class="col-sm-2 col-form-label">Price</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" name="price">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNumber" class="col-sm-2 col-form-label">Stock</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" name="stock">
          </div>
        </div>
        <div class="row mb-5 ">
          <label for="inputNumber" class="col-sm-2 col-form-label">File Upload </label>
          <div class="col-sm-8 d-flex">

            <div class="col">
              <span id="croppedImages"></span>
              <input class="form-control " type="file" id="formFile" name="image" onchange="changeImg(event)"
                accept="image/gif, image/jpeg, image/png" data-bs-toggle="modal"
                data-bs-target="#exampleModal"  multiple >
            </div>
          </div>
        </div>
         <div class="row mb-3" id="showdiv" style="display:none ;">
                      <label for="inputText" id="strImgLabel" class="col-sm-7 col-form-label">The Uploaded Image</label>
                    <div class="row">
                     <div class="col-sm-3 ">
                        <img style="width: 150px;" id="strImg0">
                      </div>

                      <div class="col-sm-3 ">
                        <img style="width: 150px;" id="strImg1">
                      </div>

                      <div class="col-sm-3 ">
                        <img style="width: 150px;" id="strImg2">
                      </div>

                      <div class="col-sm-3 ">
                        <img style="width: 150px;" id="strImg3">
                      </div>

                      <div class="col-sm-4 ">
                        <img style="width: 150px;" id="strImg4">
                      </div>
                      </div>
                
                    </div>
 <script>
    function changeImg(event) {
      document.getElementById("showdiv").style.display = "block";
      console.log(event.target.files)
      for (let i = 0; i < 5; i++) {
        document.getElementById('strImg' + i).style.display = "none";
      }
      for (let i = 0; i < event.target.files.length; i++) {
        document.getElementById('strImg' + i).src = URL.createObjectURL(event.target.files[i])
         document.getElementById('strImg' + i).style.display = "block";
      }
    }
  </script>


        <div class="row mb-3">
          <label for="inputPassword" class="col-sm-2 col-form-label">Discription</label>
          <div class="col-sm-10">
            <textarea class="form-control" style="height: 50px" name="discription"></textarea>
          </div>
        </div>
        <fieldset class="row mb-3">
          <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="gridRadios1" value="Unisex" checked>
              <label class="form-check-label" for="gridRadios1">
                Unisex
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="gridRadios2" value="Male">
              <label class="form-check-label" for="gridRadios2">
                Male
              </label>
            </div>
            <div class="form-check ">
              <input class="form-check-input" type="radio" name="gender" id="gridRadios" value="Female">
              <label class="form-check-label" for="gridRadios3">
                Female
              </label>
            </div>
          </div>
        </fieldset>

        <div class="col-sm-10 text-center">
          <button type="submit" class="btn btn-primary">Submit Form</button>
        </div>
    </div>

    </form>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group row" id="test">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</main>

{{!-------------------------------------------- Image cropping ----------------------------------------}}
<script>
    const input = document.getElementById('formFile')
    const test = document.getElementById('test')
    input.addEventListener('change', () => {
        
        // Getting image file object from the input variable
        const img_data = []
       // const imagebox = []
       // const crop_btn = []
       // const confirm_btn = []
        
        const url = []
        const length= input.files.length
       
        for (i = 0; i < length; i++) {
          
            test.innerHTML += `<div class="col-4"><div id="image-box${i}" class="image-container" style="height: 350px; width: 350px;"> </div>
    <button class="btn btn-outline-info" id="crop-btn${i}" style="width: 100%; margin-top: 10px; display: block;" type="button">Crop</button> </div>`
        }
        for (i = 0; i < length; i++) {
            img_data[i] = input.files[i]
        }
        
        img_data.forEach((image_data, i) => {
            url[i] = URL.createObjectURL(image_data)
        })
        // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
        // The new object URL represents the specified File object or Blob object.
        url.forEach((url,i)=>{
            document.getElementById('image-box'+i).innerHTML = `<img src="${url}" id="image${i}" style="width:100%;">`
        })
        
        // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
        // Storing that cropping view image in a variable
  
        // Displaying the image box
        //for(i=0;i<length;i++){
      //      document.getElementById('image-box'+i).style.display= 'block'
      //       document.getElementById('crop-btn'+i).style.display= 'block'
      //  }
       
        for(i=0;i<length;i++){
            cropper(img_data[i],document.getElementById('image'+i),i,document.getElementById('crop-btn'+i),document.getElementById('image-box'+i))
        }
        
        // Creating a croper object with the cropping view image
        // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
        // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
        let container = new DataTransfer();
        let fileInputElement = document.getElementById('formFile');
        function cropper(img_data, image, index, crop_btn, imagebox) {
            const cropper = new Cropper(image, {
                autoCropArea: 1,
                viewMode: 1,
                scalable: false,
                zoomable: false,
                movable: false,
                minCropBoxWidth: 50,
                minCropBoxHeight: 50,
            })
            // When crop button is clicked this event will get triggered
            crop_btn.addEventListener('click', () => {
             
                // This method coverts the selected cropped image on the cropper canvas into a blob object
                cropper.getCroppedCanvas().toBlob((blob) => {
                    // Gets the original image data
                    // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
                    let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                    // Create a new container
                    // Add the cropped image file to the container
                    container.items.add(file);
                    fileInputElement.files = container.files
                    // Replace the original image file with the new cropped image file
                  // Hide the cropper box
                    imagebox.style.display = 'none'
                    // Hide the crop button
                    crop_btn.style.display = 'none'
                });
            }); 
        }
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>