<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KAIROS - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="KAIROS - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/userAssets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/userAssets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/userAssets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/userAssets/images/icons/site.html">
    <link rel="mask-icon" href="/userAssets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/userAssets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="KAIROS">
    <meta name="application-name" content="KAIROS">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/userAssets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userAssets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/userAssets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/userAssets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userAssets/css/style.css">
    <link rel="stylesheet" href="/userAssets/css/skins/skin-demo-20.css">
    <link rel="stylesheet" href="/userAssets/css/demos/demo-20.css">
    <link rel="stylesheet" href="/stylesheets/progressBar.css">

</head>
<body>
<div class="page-wrapper">

    <main class="main">
        <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Track Your Order<span>Orders</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/orders">Orders</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Track Order </li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container-fluid row d-flex justify-content-center">
                <div class="card" style="width: 85vw;height: fit-content; border-top:0rem;    border-bottom:0rem;">
                    <div class="card-header  pt-2 " style="background-color:rgb(44, 44, 44);">
                        <h5 class="text-center  title">Track Order Id : <span class="text-white"></span>
                        </h5>
                    </div>
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item " style="background-color:rgb(18, 18, 18);">
                            <div class="row mt-3 mb-5">
                                <div class="container">
                                    <div class="tracking">
                                        <div class="title">Tracking Order</div>
                                    </div>
                                    <div class="progress-track">
                                        <ul id="progressbar">
                                            
                                            <li class="step0 active  " id="step1">Ordered</li>
                                            <li class="step0  text-center" id="step2">Shipped</li>
                                            <li class="step0  text-right" id="step3">Delivered</li>
                                            <li class="step0 text-right" id="step4">Return</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>

                        <li class="list-group-item " style="background-color:rgb(18, 18, 18);">

                        </li>




                    </ul>
                </div>


            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->


<!-- Sign in / Register Modal -->
<div class="modal fade" id="return-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>

                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
                                    aria-controls="signin" aria-selected="true">Return Request</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                aria-labelledby="signin-tab">
                                <form id="returnForm">
                                    <div class="form-group">
                                        <label for="singin-email">Reason for Return (optional)</label>
                                        <textarea class="form-control" name="returnMsg" id="returnMsg"></textarea>
                                    </div><!-- End .form-group -->



                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>Request Return</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>



                                    </div><!-- End .form-footer -->
                                </form>

                            </div><!-- .End .tab-pane -->

                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div>


<!-- Plugins JS File -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/superfish.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function cancelOrder(orderId, proId , qty) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You are about to cancel this product!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, cancel it!'
        }).then((result) => {
            if (result.isConfirmed) {
                /*.................................................................AJAX..................................................*/
                $.ajax({
                    url: '/order/cancel',
                    method: "get",
                    data: { orderId, proId , qty },
                    success: (order) => {
                        Swal.fire(
                            'Cancelled!',
                            'The Order has been cancelled .',
                            'success',
                        ),

                            document.getElementById('orderStatus').innerText = "Cancelled";
                        /* document.getElementById("cancel" + orderId).style.display = "none"*/


                    }
                })
                /*.................................................................AJAX..................................................*/
            }
        })

    }
</script>

<script>
    function returnOrder(orderId, proId) {
        $('#return-modal').modal('show')

        $('#returnForm').submit((e) => {
            e.preventDefault()
            let msg = document.getElementById('returnMsg').value
            console.log(msg)
            $.ajax({
                url: '/orders/returnOrder',
                method: 'post',
                data: { orderId, proId, msg },
                success: (response) => {
                    $('#return-modal').modal('hide')
                    console.log(response)
                    Swal.fire({
                        icon: 'success',
                        title: 'Request has been intiated',
                        text: ' The return will be initated when the seller approves the request',
                    })

                    document.getElementById('orderStatus').value = response

                }
            })

        })
    }
</script>
</body>
</html>