<head>
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userAssets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userAssets/css/style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body style="background: #fff;">
    <div class="d-flex justify-content-center">
            <img src="https://images.squarespace-cdn.com/content/v1/6209fc508f791e729abec7d0/18641903-a848-4a3a-a0a3-c9e2ddaa15c4/02-lottie-tick-01-instant-2.gif" alt="">
    </div>
    <div>
        <h3 class="text-center text-primary">Ordered succesfully</h3>
    </div>
    <div>
    </div>
    <div class="text-center">
        <a class="btn btn-success" href="/profile">
        view Orders
    </a></div>
</body>